---
import Layout from '../layouts/Layout.astro';
import PlanForm from '../components/PlanForm';
import '@/styles/globals.css'
---

<Layout title="plan-buddy">
	<main>
		<h1>Welcome to <span class="text-gradient">plan-buddy</span></h1>
		<PlanForm client:load />
	</main>
</Layout>
